# Ambiente virtual
venv/
env/
.venv/
.env/

# Variáveis de ambiente
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Distribuição / build
dist/
build/
*.egg-info/
*.egg

# pytest
.pytest_cache/
htmlcov/
.coverage

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

#